@import './Vars.scss';

body {
    margin: 0;
    font-family: $Theme-Font;
    background: $main-color
  }
  
  * {
    box-sizing: border-box;
  }

::-webkit-scrollbar {
display: none;
}

